html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.layout-rfc {
  padding: 8px;
  position: fixed;
  border: 1px solid #333;
  border-radius: 8px;
  background: #d97706;
  width: 190px;
  text-align: center;
  top: 16px;
  left: 50%;
  margin-left: -95px;
}
